<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @employee.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @employee.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @employee.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @employee.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @employee.zipcode %>
</p>

<p>
  <strong>Project:</strong>
  <%= @employee.project %>
</p>

<p>
  <strong>Company:</strong>
  <%= @employee.company %>
</p>

<p>
  <strong>Type:</strong>
  <%= @employee.type %>
</p>

<p>
  <strong>Role:</strong>
  <%= @employee.role %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @employee.designation %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
